body {
  overflow-x: hidden;
}

@media screen and (min-width: 1367px){
  #recipes {position: absolute; right:27%};
}

#associationContainer {
  margin-top: 2%;
  margin-left: 2%;
}

#associationData {
  float: left;
  width: 30%;
  height: 350px;
  border: solid;
  border-color: #000000;
  border-top: #107503 solid;
  border-right: #107503 solid;
  border-radius: 0px 15px 15px 0px;
  background-color: #fffeb3;
  border-left: 0px;
  padding-left: 2%;
}

#coverpic {
  width: 25%;
  height: 350px;
  float: left;
  border-color: #000000;
  border: solid;
  border-right: none;
  border-top: #107503 solid;
  border-radius: 15px 0px 0px 15px;
}

.account {
  width: auto;
  height: auto;
  text-align: center;
  color: #000000;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  margin-top: 3%;
  border-radius: 5px;
  background-color: rgb(248, 248, 237);
  border-top: #107503 solid;
  border-right: #107503 solid;
}

.account:hover {
  outline-width: 3px;
  outline-style: solid;
  outline-color: #cbd811;
  background-color: #ffffff;
  box-shadow: 0 0 .5rem #ffffff00;
  cursor: pointer;
}

.account:focus {
  outline: none;
  background-color: #cbd811;
  box-shadow: 0 0 .5rem #ffffff;
}

#pizzaCarousel {
  position: absolute;
  margin-left: 64%;
}

#titles {
  display: inline-block;
  margin-top: 7%;
  margin-left: 2%;
  width: 75%;
}

#association_text {
  float: left;
  font-size: 160%;

}

#recipes {
  float: right;
  font-size: 160%;
}

main#carousel {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 230%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 500px;
  --items: 2;
  --middle: 3;
  --position: 1;
  pointer-events: none;
  /* Per rendere cliccabili i pallini del carousel */
}

div.item {
  position: relative;
  display: inline-block;
  margin-top: -30%;
  width: 400px;
  height: 250px;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateX(calc(-10deg * var(--r))) translateY(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
  pointer-events: auto;
  /* Per rendere cliccabili le immagini del carousel */
  border: solid;
  border-width: 2px;
  border-color: rgb(8, 192, 1);
  border-radius: 6%;
  background-size: cover;
}

img {
  border-radius: 5px 5px 0 0;
}

#back {
  position: relative;
  z-index: 1000;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

#forward {
  position: relative;
  z-index: 1000;
  border-color: #08c001;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

#blocks {
  width: 60%;
  margin-top: 30%;
  margin-left: 25%;
}

#addMemberContainer {
  position: absolute;
  display: none;
  margin-top: 2%;
  margin-left: 4%;
  padding: 2%;
  background-color: #fffeb3;
  text-align: center;
  height: fit-content;
  border: solid;
  border-width: 2px;
  border-color: #107503;
  border-radius: 15px;
  border-bottom: #000000 solid;
  border-left: #000000 solid;
}

#removeMemberContainer {
  position: absolute;
  display: none;
  margin-top: 2%;
  padding: 2%;
  background-color: #fffeb3;
  text-align: center;
  height: fit-content;
  border: solid;
  border-width: 2px;
  border-color: #107503;
  border-radius: 15px;
  border-bottom: #000000 solid;
  border-left: #000000 solid;
}

#deleteAssociationContainer {
  position: absolute;
  display: none;
  margin-top: 2%;
  padding: 2%;
  background-color: #fffeb3;
  text-align: center;
  height: fit-content;
  border: solid;
  border-width: 2px;
  border-color: #107503;
  border-radius: 15px;
  border-bottom: #000000 solid;
  border-left: #000000 solid;
}

#pizzaName {
  margin-top: -10%;
}

#closeSection {
  width: auto;
  height: 30px;
  position: absolute;
  margin-top: 2%;
  margin-right: 2%;
  top: 0;
  right: 0;
  text-align: center;
  color: #ff0000;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(248, 248, 237);
}

#closeSection:hover {
  outline-width: 3px;
  outline-style: solid;
  outline-color: #ff0000;
  background-color: #ffffff;
  box-shadow: 0 0 .5rem #ffffff00;
  cursor: pointer;
}

#closeSection:focus {
  outline: none;
  background-color: #ff0000;
  box-shadow: 0 0 .5rem #ffffff;
}