.infoBox {
    position: absolute;
    margin-top: 6%;
    margin-left: 12%;
    border: 2px solid #107503da;
    border-radius: 5%;
    border-bottom: #000000 solid;
    border-left: #000000 solid;
    text-align: justify;
    background-color: #ffffff;
    padding: 2%;
    margin-bottom: 2%;
}

@media screen and (min-width:1367px){
    .infoBox{margin-left: 20%};
}