#user_photo_container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#ingredients {
  margin-top: 10%;
  margin-left: 16%;
  display: flex;
  flex-wrap: wrap;
}

#recipe_photo {
  width: 42%;
  height: 300px;
  float: left;
  border: 2px solid black;
  border-right: 0px;
  border-radius: 15px 0px 0px 15px;
  border-color: #000000;
  border-width: 3px;
  border-top: #107503 solid;
  flex-basis: auto;
}

#ingredients_container {
  float: left;
  width: 29%;
  flex-basis: auto;
  border: 3px;
  background-color: #fffeb3;
  border: solid;
  border-left: none;
  padding-left: 1%;
  border-radius: 0% 5% 5% 0%;
  border-color: #107503;
  border-bottom: #000000 solid;
  overflow-y: auto;
}

#structure_page {
  display: inline-block;
  margin: 0 auto;
  height: 100%;
  position: relative;
  width: 100%;
}

#ingredients_recipe {
  color: #4a634a;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 1em;
  overflow-y: auto;
}

#container_recipe {
  width: 60%;
  height: fit-content;
  background-color: #fffeb3;
  text-align: justify;
  margin-top: 4%;
  margin-left: 16%;
  padding: 4px;
  border: solid;
  border-width: 2px;
  border-radius: 5%;
  border-color: #000000;
  border-top: #107503 solid;
  border-right: #107503 solid;
}

#container_insert_comment {
  width: 60%;
  background-color: #fffeb3;
  text-align: justify;
  margin-top: 4%;
  margin-left: 16%;
  padding: 4px;
  padding-left: 10px;
  border: solid;
  border-width: 2px;
  border-color: #000000;
  border-top: #107503 solid;
  border-right: #107503 solid;
}

#description {
  border: solid;
  border-color: #107503;
  border-bottom: #000000 solid;
  border-left: #000000 solid;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
}

#confirm {
  position: absolute;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 15px;
  border-color: #107503;
  margin-left: 1.5%;
  padding: 1%;
  margin-top: 1.8%;
}

#reset {
  position: absolute;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ff0000;
  border-radius: 15px;
  border-color: #107503;
  margin-left: 7.5%;
  padding: 1%;
  margin-top: 1.8%;
}

#confirm:hover {
  outline-width: 3px;
  outline-style: solid;
  outline-color: #cbd811;
  background-color: #ffffff;
  box-shadow: 0 0 .5rem #ffffff00;
  cursor: pointer;
}

#reset:hover {
  outline-width: 3px;
  outline-style: solid;
  outline-color: #ff0000;
  background-color: #ffffff;
  box-shadow: 0 0 .5rem #ffffff00;
  cursor: pointer;
}

#container_comments {
  width: 60%;
  max-height: 250px;
  background-color: #fffeb3;
  text-align: justify;
  margin-top: 4%;
  margin-left: 16%;
  padding: 4px;
  padding-left: 10px;
  border: solid;
  border-width: 2px;
  border-color: #000000;
  border-top: #107503 solid;
  border-right: #107503 solid;
  overflow-y: scroll;
}

#container_comments::-webkit-scrollbar {
  width: 10px;
  background-color: #fffeb3;
  border-radius: 0% 0% 15% 15%;
}

#container_comments::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #107503;
  border: solid;
  border-color: #000000;
  border-width: 2px;
}


#comment {
  background-color: #ffffff;
  border-radius: 15px;
  border-color: #107503;
  border: solid;
  margin-bottom: 10px;
  border-bottom: #107503 solid;
  border-left: #107503 solid;
}

#comment_data {
  display: inline-block;
  width: 75%;
}

#comment_date_name {
  float: left;
  margin-top: 3%;
  margin-left: 1%;
}

#user_photo_container {
  float: left;
  padding-left: 10px;
  padding-top: 6px;
}

p {
  margin: 0;
  padding: 1%;
  border: 0;
  font-size: 100%;
  font: inherit;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
}

#delete_comment {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 15px;
  border-color: #107503;
  cursor: pointer;
  float: inline-end;
  position: relative;
  margin-left: 225%;
  margin-top: -13%;
  padding: 4%;
}

#delete_comment:hover {
  outline-width: 3px;
  outline-style: solid;
  outline-color: #cbd811;
  background-color: #ffffff;
  box-shadow: 0 0 .5rem #ffffff00;
  cursor: pointer;
}